<html>

  <head>
    <title>CD Projeckt Read</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link href="{{ url_for('static', filename='css/website.css') }}" rel="stylesheet">
  </head>

  <style>
	.navbar {
		background-color: white;
	}
  </style>

  <body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Our Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Our Team</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Our Location</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="main-content">
    <div class="head-contain text-center">
        <h1 class="cow-title">THE COW</h1>
    </div>
        <div class="container">
            <div class="row justify-content-center">
                {% if cowtext %}
                <pre class="cowtext">{{ cowtext }}</pre>
                {% endif %}
            </div>
        </div>
    <div class="head-contain text-center">
        <div class="container">
        <div class="row justify-content-center">
            <div class="form-group">
                <form class="html-form-text" action="{{ url_for('process_text') }}" method="POST">
                <div class="form-group">
                    <label class="form-style" for="input_text">Enter Text for the cow to say</label>
                    <textarea class="form-control" id="input_text" placeholder="Text here..." name="input_text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div> 
</div>
</div>
</body>
</html>
