#main-content {
    padding-top: 58px;
    color: gray;
}

#profile-id {
    display: none;
}

.subtitle-header {
    color: black;
    font-weight: bold;
}

.navbar {
    background-color: lightgray;
}

.main-entries {
    margin-top: 50px;
}

.login-btn {
    outline-offset: 50px;
}

body {
    background-color: #188750;
}

label {
    color: black;
}

.dark {
    color: black;
}

.dropdown {
    width: 90px;
}

.across {
    padding: 5px;
}

.bg-dark {
    color: white;
    background: black;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
}

.select-black {
    color: white;
    background: black;
}

.content-bg {
    background-color: #15613b;
}

.profile-header {
    background-color: #15613b;
}

.propic {
    max-height: 98%;
    max-width: 98%;
    border-width: 10px;
}

.username-style {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.options-div {
    margin-top: 10px;
}

#log-ref {
    max-width: 100%;
}

.login-style {
    width: 250px;
}

.my-diaries {
    font-weight: bold;
}

.option-l {
    margin-left: 10px;
}

.option-r {
    margin-right: 16px;
}

.entry {
    background-color: #d3d3d3;
    margin: 10px;
    color: black;
    width: 450px;
}

.entry-head {
    font-weight: bold;
    font-size: 20px;
}

.entry-author {
    font-size: 12px;
}

.entry-body {
    max-width: 100%;
    overflow-wrap: break-word;
}

.line {
    margin:-1px;
}

.warning {
    color: red;
    font-weight: bold;
    overflow-wrap: break-word;
}

.management-col {
    margin: 10px;
    width: 450px;
}

.man-in {
    width: 400px;
}

#append-diary {
    margin-bottom: 30px;
}
