{% macro login_ui(profile) %}
{% if profile.username %}

    <form class="form-inline my-2 my-lg-0" action="{{ url_for('my_profile') }}">
    <span class="mx-3">Hello, {{ profile.username }}</span>
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">My Profile</button>
    </form>

    <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}">
    <button class="btn btn-outline-danger my-2 my-sm-0 mx-2" type="submit">Logout</button>
    </form>
{% else %}

    <form class="form-inline my-2 my-lg-0" action="{{ url_for('login_form') }}">
    
    <button class="login-btn btn btn-outline-success my-2 mx-2 my-sm-0" type="submit">Log in</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('create_profile') }}">
    <button class="register-btn btn btn-outline-dark my-2 my-sm-0" type="submit">Register</button>
    </form>


{% endif %}
{% endmacro %}

