{% extends "site.html" %}
{% block title %}{{ profile.username }}'s Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<span id="profile-id">{{ profile.id }}</span>
<div class="container">
<div class="row justify-content-center align-items-center">
<div class="col-xl-8 profile-header justify-content-center align-items-center">
<img class="propic rounded border border-dark mx-auto d-block" src="{{ url_for('static', filename='img/profilephotos/' + profile.photofn)}}">

<h1 class="dark display-3 username-style text-center">{{ profile.username }}</h1>


{% if messages %}
<ul id="messages" class="alert alert-danger" role="alert">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<!-- FIXME: get all diaries that the user has created to choose from -->
<!-- FIXME: Make buttons for public or private diary -->
<!-- FIXME: Add an ajax request to get diary names for the server if they exist -->

</div>
</div>
{% if login_profile %}
    <div class="row justify-content-center">
    <div class="col-xs-6 rounded options-div content-bg">
    <div class="row">
    <div class="option-l col-xs-12 across justify-content-center">
        <form class="form-inline mx-2 my-2" action="{{ url_for('log_diary') }}">
            <button class="btn btn-dark mx-auto" type=submit>Log a Diary - What's on your mind?</button>
        </form>
    </div>
    <div class="option-r col-xs-12 across justify-content-center">
        <form class="form-inline my-2" action="{{ url_for('get_key_management') }}">
            <button class="btn btn-dark mx-auto" type=submit>Diary Key management</button>
        </form>
    </div>
    </div>
    </div>
    </div>
{% endif %}
<div class="row justify-content-center align-items-center">
<div class="col-xl-5 options-div rounded content-bg justify-content-center align-items-center">
        <h2 class="dark my-diaries text-center"><u>My Private Diaries</u></h2>
        <div id="messages"></div>

<div class="row justify-content-center align-items-center">
<div id="private-entries" class="col-l-8">
    
</div>


<div id="public-entries" class="col-l-8">
        <h2 class="dark my-diaries text-center"><u>My Public Diaries</u></h2>

</div>
</div>
</div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/profile-entries.js') }}"></script>
{% endblock %}
